@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Plus+Jakarta+Sans:ital@0;1&display=swap');

body {
    font-family: "Inter", sans-serif;
}

.headhome-block-background {
    width: 100%;
    height: 500px;
    background-color: #5272ff84;
    text-align: center;
}

.headhome-block-background h1{
    font-weight: bold;
    font-size: 40px;
    color: #FFF;
    padding-top: 60px;
}

.headhome-block-background p {
    font-weight: bold;
    font-size: 20px;
    color: #FFF;
    padding-top: 60px;
}

.headhome-block-background a {
    background-color: #5271FF;
    color: #FFF;
    padding: 10px 15px 10px 15px;
    border-radius: 10px;
    margin-top: 60px;
}

.headhome-block-button {
    padding-top: 60px;
}