@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Plus+Jakarta+Sans:ital@0;1&display=swap');

body {
    font-family: "Inter", sans-serif;
}

.header-block-logo img {
    width: 50%;
}

.header-container {
    display: flex;
    justify-content: space-between;
    padding-left: 4%;
    padding-top: 1%;
    padding-right: 4%;
}

.header-block-ul-li {
    display: flex;
}

.header-block-ul-li li {
    list-style: none;
    padding-left: 10px;
    font-weight: bold;
}