@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Plus+Jakarta+Sans:ital@0;1&display=swap');

body {
    font-family: "Inter", sans-serif;
}

.header-block-hide {
    height: 100%;
    width: 100px;
    position: fixed;
    z-index: 1;
    top: 0;
    background-color: beige;
    transition: left 0.5s ease;
}

.header-block-logo img {
    width: 50%;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 4%;
    padding-top: 1%;
    padding-right: 4%;
    padding-bottom: 1%;
}

.header-block-ul-li {
    display: flex;
}

.header-block-ul-li li {
    list-style: none;
    padding-left: 20px;
    font-weight: bold;
}

#header-block-link {
    text-decoration: none;
    color: #000000;
}

.header-block-burger-icon {
    display: none;
}

@media screen and (max-width: 1024px) {
    .header-block-burger-icon {
        display: block;
    }

    .header-block-burger-icon {
        width: 40%;
    }

    .header-block-ul-li {
        display: none;
    }
}